src/main/resources/wsdl/alexa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:u="urn:Belkin:service:basicevent:1">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Belkin:service:basicevent:1">
            <xsd:element name="SetBinaryState">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="BinaryState" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SetBinaryStateResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="BinaryState" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetBinaryState">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetBinaryStateResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="BinaryState" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SetBinaryStateInputMessage">
        <wsdl:part name="SetBinaryStateInputPart" element="u:SetBinaryState"/>
    </wsdl:message>
    <wsdl:message name="SetBinaryStateOutputMessage">
        <wsdl:part name="SetBinaryStateOutputPart" element="u:SetBinaryStateResponse"/>
    </wsdl:message>

    <wsdl:message name="GetBinaryStateInputMessage">
        <wsdl:part name="GetBinaryStateInputPart" element="u:GetBinaryState"/>
    </wsdl:message>
    <wsdl:message name="GetBinaryStateOutputMessage">
        <wsdl:part name="GetBinaryStateOutputPart" element="u:GetBinaryStateResponse"/>
    </wsdl:message>

    <wsdl:portType name="BasicServicePortType">
        <wsdl:operation name="SetBinaryState">
            <wsdl:input message="SetBinaryStateInputMessage"/>
            <wsdl:output message="SetBinaryStateOutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetBinaryState">
            <wsdl:input message="GetBinaryStateInputMessage"/>
            <wsdl:output message="GetBinaryStateOutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BasicServiceBinding" type="BasicServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SetBinaryState">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#SetBinaryState"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetBinaryState">
            <soap:operation soapAction="urn:Belkin:service:basicevent:1#GetBinaryState"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BasicService">
        <wsdl:port name="BasicServicePort" binding="BasicServiceBinding">
            <soap:address location="http://localhost:49153/upnp/control/basicevent1"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>